<div>
  <div><%= link_to "Home" , root_path %></div>
  <div><%= link_to "Subjects", subjects_path %></div>
  <div><%= link_to "Contact" , contact_path%></div>
  <div><%= link_to "Portal", portal_path  if logged_in?(:tutor) %> </div>
  <div><%= link_to "Login" , new_user_session_path if !current_user %></div>
  <div><%= link_to "Sign up" , new_user_registration_path if !current_user%></div>
  <div><%= link_to "Logout" , destroy_user_session_path, method: :delete if current_user %></div>
 </div>