<h1> Portal </h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Paper</th>
      <th>Level</th>
      <th>Year</th>
      <th>Session</th>
      <th>Board</th>
      <th>Description</th>
      <th>Owner</th>
      <th colspan="1"></th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <% if query.active? %>
        <td><%= query.subject.title%></td>
        <td><%= query.paper %></td>
        <td><%= query.level %></td>
        <td><%= query.year %></td>
        <td><%= query.session %></td>
        <td><%= query.board %></td>
        <td><%= query.description %></td>
        <td><%= query.profile.name %></td>
        <td><%= link_to 'Show', query %></td>
        <td><%=  render 'shared/qstatus', query: query %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

