<p id="notice"><%= notice %></p>


<p>
  <strong>Subject:</strong>
  <%= @query.subject.title %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @query.paper %>
</p>

<p>
  <strong>Level:</strong>
  <%= @query.level %>
</p>

<p>
  <strong>Year:</strong>
  <%= @query.year %>
</p>

<p>
  <strong>Session:</strong>
  <%= @query.session %>
</p>

<p>
  <strong>Board:</strong>
  <%= @query.board %>
</p>

<p>
  <strong>Description:</strong>
  <%= @query.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @query.image %>
</p>

<p>
  <strong> Creator: </strong>
  <%@creator = Profile.find(@query.creator) %>
  <%= link_to @creator.name, @creator %>
  
</p>

<h3> Owner: <%= link_to "#{@query.profile.name}", @query.profile%> </h3>

<%= link_to 'Edit', edit_query_path(@query) if @query.profile_id == current_user.profile_id %> |
<%= link_to 'Back', portal_path %>

