<!DOCTYPE html>
<html>
  <head>
    <title>Fazh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

   <%= render 'shared/navigation'%>
  </head>

  <body>
    <%= yield %>
  </body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>


      <%= render 'shared/footer'%>

</html>
